

*, *:ather, *:before {
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
.container {
    display: flex;
    max-width: 690px;
    margin: 20px auto;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.avatar {
    width: 350px;
    background: #fac291;
    flex-basis: 35%;
}
.foto {
    height: 300px;
    background: url(img/user.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heading {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 16px;
    border-bottom: 2px #65471e dashed;
    padding-top: 15px;
}
.photo-info {
    padding: 50px 30px 70px 30px;
}

.contact {
    border-bottom: 2px #65471e dashed;
    padding-bottom: 24px;
    padding-top: 24px;
}

.phone {
    color: #376941;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
}

.phone-link {
    color: #904848;
    text-decoration: none;
    padding-left: 27px;
    padding-right: 27px
}

.language {
    width: 100px;
    height: 100px;
    border: 6px solid #2ec92e;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
}

.line {
   width: 90px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
}

.line:nth-child(2){
    width: 130px;
    margin-left: 20px;
}

.lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.info-vrap {
    padding: 36px 56px;
    border: 1px solid #3b74e2;
    min-height: 100%;
    
}

.porfolio {
    padding: 25px 30px;
    flex-basis: 63%;
    background: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}

.logo-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 17px;
    margin-right: 17px;
}

.logo-line {
    display: block;
    width: 43px;
    height: 2px;
    background: red;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.logo-lites-left .logo-line:nth-child(2) {
    margin-right: 20px;
    width: 55px;
}

.logo-lites-right.logo-line:nth-child(2) {
    margin-left: 20px;
    widows: 55px;
}

.logo-img {
    width: 90px;
    height: 90px;
    border: 1px solid red;
    border-radius: 50%;
    background: url();
    background-size: cover;
    background-position: center;
}

.about {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.name {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 11px;
}

.positio {
    font-size: 9px;
    text-transform: uppercase;
    color: darkred;
    margin-bottom: 20px;
    display: inline-block;
}

.about-adres {
    font-size: 13px;
    margin-bottom: 15px;
}

.contacts {
    font-size: 10p
}

.about-link {
    text-decoration: none;
    color:aqua;
    
}

.heading-white {
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 37px
}

.list {
    list-style: none;
    padding-left: 0;
}

.list-item:before {
    content: '';
    background: black;
    position:absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 0;
    top: 3;
}

.list-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #ececec;
}

.list-item-4 {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.list-item-date {
    font-size: 11px;
    text-transform: uppercase;
}

.item-info {
    font-size: 10px;
    color: #777;
}

.list-item2 {
    border: none;
}

.white-lvlup {
    margin-bottom: 48px
}

.lvlup-list-iteml {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.level {
    width: 70%;
    height: 8px;
    border: 1px solid black;
    position: relative;
}

.lvl1 {
    
}

.level:before {
    content: '';    
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5%;
    background: grey;
}
